__pycache__/
*.py[cod]
/output/
/input/
!/input/example.png
/models/
/temp/
/custom_nodes/
!custom_nodes/example_node.py.example
extra_model_paths.yaml
/.vs
.vscode/
.idea/
venv/
.venv/
/web/extensions/*
!/web/extensions/logging.js.example
!/web/extensions/core/
/tests-ui/data/object_info.json
/user/
*.log
web_custom_versions/
.DS_Store

/input
/output
/input/*
/output/*
/models/*
/output/_output_images_will_be_put_here
/models/checkpoints/put_checkpoints_here
/models/clip/put_clip_or_text_encoder_models_here
/models/clip_vision/put_clip_vision_models_here
/models/diffusers/put_diffusers_models_here
/models/diffusion_models/put_diffusion_model_files_here
/models/embeddings/put_embeddings_or_textual_inversion_concepts_here
/models/gligen/put_gligen_models_here
/models/hypernetworks/put_hypernetworks_here
/models/loras/put_loras_here
/models/photomaker/put_photomaker_models_here
/models/style_models/put_t2i_style_model_here
/models/unet/put_unet_files_here
/models/upscale_models/put_esrgan_and_other_upscale_models_here
/models/vae/put_vae_here
/models/vae_approx/put_taesd_encoder_pth_and_taesd_decoder_pth_here
/models/controlnet/put_controlnets_and_t2i_here
/models/configs/anything_v3.yaml
/models/configs/v1-inference.yaml
/models/configs/v1-inference_clip_skip_2.yaml
/models/configs/v1-inference_clip_skip_2_fp16.yaml
/models/configs/v1-inference_fp16.yaml
/models/configs/v1-inpainting-inference.yaml
/models/configs/v2-inference-v.yaml
/models/configs/v2-inference-v_fp32.yaml
/models/configs/v2-inference.yaml
/models/configs/v2-inference_fp32.yaml
/models/configs/v2-inpainting-inference.yaml
/models/text_encoders/put_text_encoder_files_here